.del {
    text-decoration: line-through;
}

.marked{
    font-weight: bold;
    font-size: larger;
}

.glow-black {
    text-shadow: 0px 0px 5px black;
}

.strong {
    font-weight: bold;
}

.input-marked{
    display: inline-block;
    font-weight: bold;
    font-size: larger;
    vertical-align: middle;
    cursor: pointer;
}