<div class="card offset-xl-3 col-xl-6">
    <div class="card-header text-center">
        <h1>NO-NONSENSE PERUDO</h1>
        <!--(game id: {{$ctrl.game.id}})-->
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            <li class="col-12" ng-class="$index === $ctrl.gameData.playerTurn ? 'list-item list-group-item-info' : 'list-item'"
                ng-repeat="p in $ctrl.playerService.players track by $index">
                <div class="row">
                    <div class="col-4" style="height: 2em; vertical-align: middle;">
                        <lobby-player
                                  mute="$ctrl.findPlayersData(p).diceNum === 0 && !p.spectator"
                                  player="p" self="$ctrl.playerService.player"></lobby-player>
                    </div>
                    <div class="col-1" ng-repeat="d in [].constructor(5) track by $index">
                        <dice size="2" val="$ctrl.getDice(p, $parent.$index, $index)"></dice>
                    </div>
                    <div class="col-2 text-nowrap">
                        <p ng-show="($ctrl.gameData.gameState === 'ROLLED'
                        || ($ctrl.gameData.gameState === 'REVEALED' && $index !== $ctrl.gameData.playerTurn))
                        && $ctrl.findPlayersData(p).bet">
                            <span ng-class="$ctrl.isLastBetPlayerIndex($index) ? 'strong' : ''">
                                Bet: {{$ctrl.findPlayersData(p).bet.num}} of {{$ctrl.findPlayersData(p).bet.val}}'s
                                <span ng-show="$ctrl.findPlayersData(p).bet.bot"> (AI)</span>
                            </span>
                        </p>
                        <p ng-show="$index === $ctrl.gameData.playerTurn && $ctrl.gameData.gameState === 'REVEALED'">
                            <strong class="text-warning glow-black" ng-show="$ctrl.findPlayersData(p).bet.dudo">DUDO!</strong>
                            <span ng-show="$ctrl.findPlayersData(p).bet.bot"> (AI)</span>
                        </p>
                        <p ng-show="$index === $ctrl.gameData.lastLoserIndex && $ctrl.gameData.gameState === 'REVEALED'">
                            <strong class="text-danger glow-black">LOST!</strong>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="card text-center">
            <h6 ng-show="$ctrl.diceInPlay > 0">Total dice in play: {{$ctrl.diceInPlay}}</h6>
            <h4 ng-show="$ctrl.gameData.prompt">{{$ctrl.gameData.prompt}}</h4>
            <div ng-if="$ctrl.gameData.gameState === 'ROLL' && $ctrl.canRoll">
                <h5 ng-show="$ctrl.gameData.totalRounds === 0">GLHF <3</h5>
                <h6 ng-show="this.playerData.diceNum > 1">You have {{this.playerData.diceNum}} dice</h6>
                <h5 ng-show="this.playerData.diceNum === 1">You have the last dice. Make it count!</h5>
                <button ng-click="$ctrl.rollDice()">
                    Roll Dice
                </button>
                <p ng-if="$ctrl.watchdogRD" class="text-warning">{{$ctrl.watchdogRDts | date: 'mm:ss'}}</p>
            </div>
            <div ng-if="$ctrl.gameData.gameState === 'ROLLED' && $ctrl.playerData.state === 'TURN'" style="user-select: none;">
                <h4 ng-show="!$ctrl.isFirstTurn">
                    Last bet: {{$ctrl.findLastBet().num}} of {{$ctrl.findLastBet().val}}'s
                </h4>
                Your bet:
                <span ng-class="($ctrl.bet.bot && !$ctrl.bet.dudo) ? 'glow-orange' : ''">
                    <num-input value="$ctrl.bet.num" min="1" max="$ctrl.diceInPlay"></num-input>
                    of
                    <dice-input size="3" value="$ctrl.bet.val" min="1" max="6"></dice-input>
                    's
                </span>
                <button ng-disabled="!$ctrl.validateBet($ctrl.bet.num, $ctrl.bet.val)"
                        ng-class="($ctrl.bet.bot && !$ctrl.bet.dudo) ? 'glow-orange' : ''"
                        ng-click="$ctrl.makeBet($ctrl.bet.num, $ctrl.bet.val)">
                    Make Bet
                </button>
                <span ng-show="!$ctrl.isFirstTurn"> or </span>
                <button ng-show="!$ctrl.isFirstTurn"
                        ng-class="($ctrl.bet.bot && $ctrl.bet.dudo) ? 'glow-orange' : ''"
                        ng-click="$ctrl.callDudo()">
                    Dudo
                </button>
                or ask
                <button ng-click="$ctrl.askBotBet()">
                    AI hint
                </button>
                <p ng-if="$ctrl.watchdogMB" class="text-warning">{{$ctrl.watchdogBMts | date: 'mm:ss'}}</p>
            </div>
            <div ng-if="$ctrl.gameData.gameState === 'REVEALED' && $ctrl.isSelfJustLost">
                <h5 ng-show="this.playerData.diceNum > 0 && $ctrl.lastLooserStreek === 1">Better luck next time!</h5>
                <h5 ng-show="this.playerData.diceNum > 0 && $ctrl.lastLooserStreek === 2">Oof! You lost again. Bummer!</h5>
                <h5 ng-show="this.playerData.diceNum > 0 && $ctrl.lastLooserStreek > 2">Ahh! Maybe this is not your game.</h5>
                <h5 ng-show="this.playerData.diceNum === 0">You are out. Sorry :-(</h5>
                <button ng-click="$ctrl.endRound()">
                    {{$ctrl.checkForWinnerPlayer() ? 'Final Scores' : 'Next Round'}}
                </button>
                <p ng-if="$ctrl.watchdogER" class="text-warning">{{$ctrl.watchdogERts | date: 'mm:ss'}}</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <div>
            <label for="bot-controls">AI controls:</label>
            <div id="bot-controls" class="btn-group" role="group" aria-label="AI controls:">
                <button type="button" class="btn btn-outline-secondary"
                        ng-class="$ctrl.playerService.player.botMode === $ctrl.gameBotService.BotMode.None ? 'active' :''"
                        ng-click="$ctrl.updateBotMode($ctrl.gameBotService.BotMode.None)">
                    No AI
                </button>
                <button type="button" class="btn btn-outline-secondary"
                        ng-class="$ctrl.playerService.player.botMode === $ctrl.gameBotService.BotMode.Kevin ? 'active' :''"
                        ng-click="$ctrl.updateBotMode($ctrl.gameBotService.BotMode.Kevin)">
                    Mellow Kevin
                </button>
                <button type="button" class="btn btn-outline-secondary"
                        ng-class="$ctrl.playerService.player.botMode === $ctrl.gameBotService.BotMode.Ian ? 'active' :''"
                        ng-click="$ctrl.updateBotMode($ctrl.gameBotService.BotMode.Ian)">
                    Crazy Ian
                </button>
            </div>
        </div>
        <div ng-if="$ctrl.playerService.player.name.indexOf('Red Dragon') >=0" class="bg-warning">
            <!-- DEBUG ONLY! -->
            <h6>*** DEBUG CONSOLE ***</h6>
            <p>Game id: {{$ctrl.game.id}}</p>
            <p>Player: "{{$ctrl.playerService.player.name}}", id: {{$ctrl.playerService.player.id}}</p>
            <p>Game state: {{$ctrl.gameData.gameState}}, Player state: {{$ctrl.playerData.state}}</p>
            <button ng-click="$ctrl.finishGame()">
                !EXIT GAME!
            </button>
            <button ng-click="$ctrl.debugResetToLastRound()">
                !LAST ROUND!
            </button>
            <button ng-click="$ctrl.debugRestartGame()">
                !RESTART GAME!
            </button><br/>
            <input type="number" min="0" ng-model="$ctrl.debugResetTurnNum" style="width: 4em;">
            <button ng-click="$ctrl.debugResetTurn($ctrl.debugResetTurnNum)">
                !RESET TURN!
            </button><br/>
            <input type="text" size="20" ng-model="$ctrl.debugPlayerNameToKick">
            <button ng-click="$ctrl.debugKickPlayerByName($ctrl.debugPlayerNameToKick)">
                !KICK PLAYER!
            </button><br/>
            <input type="text" size="20" ng-model="$ctrl.debugPlayerNameToEdit">
            <input type="text" size="6" ng-model="$ctrl.debugPlayerState">
            <button ng-click="$ctrl.debugChangePlayerStateByName($ctrl.debugPlayerNameToEdit, $ctrl.debugPlayerState)">
                !CHANGE PLAYER STATE!
            </button>
        </div>
    </div>
</div>