<div class="card offset-lg-3 col-lg-6">
    <div class="card-header text-center">
        <h1>NO-NONSENSE PERUDO</h1>
        (game id: {{$ctrl.game.id}})
    </div>
    <div class="card bg-warning text-white text-center" ng-show="$ctrl.game.alertService.alert.isWarning()">
        {{$ctrl.game.alertService.alert.message}}
    </div>
    <div class="card bg-danger text-white" ng-show="$ctrl.game.alertService.alert.isError()">
        {{$ctrl.game.alertService.alert.message}}
    </div>
    <div class="card-body">
        <ul class="list-unstyled row" ng-repeat="p in $ctrl.playerService.players track by $index">
            <li class="col-12" ng-class="$index === $ctrl.gameData.playerTurn ? 'list-item list-group-item-info' : 'list-item'">
                <div class="row text-nowrap">
                    <lobby-player class="col-4"
                                  mute="$ctrl.findPlayersData(p).diceNum === 0 && !p.spectator"
                                  player="p" self="$ctrl.playerService.player"></lobby-player>
                    <div class="col-1" ng-repeat="d in [].constructor(5) track by $index">
                        <!--<dice color="$ctrl.getDice(p, $index).color" value="$ctrl.getDice(p, $index).value" mark="$ctrl.getDice(p, $index).mark"></dice>-->
                        <dice val="$ctrl.getDice(p, $parent.$index, $index)"></dice>
                    </div>
                    <div class="col-2">
                        <p ng-show="$ctrl.gameData.gameState === 'ROLLED' && $ctrl.findPlayersData(p).bet">
                            Bet: {{$ctrl.findPlayersData(p).bet.num}} of {{$ctrl.findPlayersData(p).bet.val}}'s
                        </p>
                        <p ng-show="$index === $ctrl.gameData.playerTurn && $ctrl.gameData.gameState === 'REVEALED'">
                            <strong class="text-warning glow-black">DUDO!</strong>
                        </p>
                        <p ng-show="$index === $ctrl.gameData.lastLoserIndex && $ctrl.gameData.gameState === 'REVEALED'">
                            <strong class="text-danger glow-black">LOST!</strong>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="text-center">
            <h4 ng-show="$ctrl.gameData.prompt">{{$ctrl.gameData.prompt}}</h4>
            <div ng-if="$ctrl.gameData.gameState === 'ROLL' && $ctrl.canRoll">
                <h5 ng-show="$ctrl.gameData.totalRounds === 0">GLHF <3</h5>
                <h6 ng-show="$ctrl.playerData.diceNum > 1">You have {{$ctrl.playerData.diceNum}} dice</h6>
                <h5 ng-show="$ctrl.playerData.diceNum === 1">You have the last dice. Make it count!</h5>
                <button ng-click="$ctrl.rollDice()">
                    Roll Dice
                </button>
            </div>
            <div ng-if="$ctrl.gameData.gameState === 'ROLLED' && $ctrl.isSelfTurn">
                <h6 ng-show="$ctrl.diceInPlay > 0">Total dice in play: {{$ctrl.diceInPlay}}</h6>
                <h4 ng-show="!$ctrl.isFirstTurn">
                    Last bet: {{$ctrl.findLastBet().num}} of {{$ctrl.findLastBet().val}}'s
                </h4>
                Your bet:
                <num-input value="$ctrl.bet.num" min="1" max="99"></num-input>
                <!--<input id="betDiceNum" type="number" ng-model="$ctrl.bet.num" ng-change="$ctrl.bet.num = $ctrl.validateNum($ctrl.bet.num)"-->
                       <!--min="1" max="99" style="width: 3em">-->
                of
                <num-input value="$ctrl.bet.val" min="1" max="6"></num-input>
                <!--<input id="betDiceVal" type="number" ng-model="$ctrl.bet.val" ng-change="$ctrl.bet.val = $ctrl.validateVal($ctrl.bet.val)"-->
                       <!--min="1" max="6" style="width: 3em">-->
                's
                <button ng-disabled="!$ctrl.validateBet($ctrl.bet.num, $ctrl.bet.val)"
                        ng-click="$ctrl.makeBet($ctrl.bet.num, $ctrl.bet.val)">
                    Make Bet
                </button>
                <span ng-show="!$ctrl.isFirstTurn"> or </span>
                <button ng-show="!$ctrl.isFirstTurn"
                        ng-click="$ctrl.callDudo()">
                    Dudo
                </button>
            </div>
            <div ng-if="$ctrl.gameData.gameState === 'REVEALED' && $ctrl.isSelfJustLost > 0">
                <h5 ng-show="$ctrl.playerData.diceNum > 0 && $ctrl.isSelfJustLost === 1">Better luck next time!</h5>
                <h5 ng-show="$ctrl.playerData.diceNum > 0 && $ctrl.isSelfJustLost === 2">Oof! You lost again. Bummer!</h5>
                <h5 ng-show="$ctrl.playerData.diceNum > 0 && $ctrl.isSelfJustLost > 2">Ahh! Maybe this is not your game.</h5>
                <h5 ng-show="$ctrl.playerData.diceNum === 0">You are out. Sorry :-(</h5>
                <button ng-click="$ctrl.endRound()">
                    {{$ctrl.checkForWinnerPlayer() ? 'Final Scores' : 'Next Round'}}
                </button>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-if="$ctrl.isHost && $ctrl.gameData.gameState === 'END'"
                ng-click="$ctrl.finishGame()">
            Exit Game
        </button>
        <!-- DEBUG ONLY! -->
        <button ng-if="$ctrl.playerService.player.name.startsWith('Mike ')"
                ng-click="$ctrl.debugRestGame()">
            !RESET!
        </button>
        <button ng-if="$ctrl.playerService.player.name.startsWith('Mike ')"
                ng-click="$ctrl.debugEndGame()">
            !End Game!
        </button>
    </div>
</div>