<div class="card offset-lg-3 col-lg-6">
    <div class="card-header text-center">
        <h1>GAME BOARD</h1>
        (game id: {{$ctrl.game.id}})
    </div>
    <div class="card bg-warning text-white text-center" ng-show="$ctrl.game.alertService.alert.isWarning()">
        {{$ctrl.game.alertService.alert.message}}
    </div>
    <div class="card bg-danger text-white" ng-show="$ctrl.game.alertService.alert.isError()">
        {{$ctrl.game.alertService.alert.message}}
    </div>
    <div class="card-body">
        <ul class="list-unstyled row" ng-repeat="p in $ctrl.playerService.players track by $index">
            <li class="col-12" ng-class="$index === $ctrl.gameData.playerTurn ? 'list-item list-group-item-info' : 'list-item'">
                <div class="row text-nowrap">
                    <lobby-player class="col-4" player="p" self="$ctrl.playerService.player"></lobby-player>
                    <div class="col-1" ng-repeat="d in $ctrl.findPlayersData(p).dice track by $index">{{$ctrl.getDice(p,
                        $index)}}
                    </div>
                    <div class="col-2">
                        <p ng-show="$ctrl.gameData.gameState === 'ROLLED' && $ctrl.findPlayersData(p).bet">
                            Bet: {{$ctrl.findPlayersData(p).bet.num}} of {{$ctrl.findPlayersData(p).bet.val}}'s
                        </p>
                        <p ng-show="$index === $ctrl.gameData.playerTurn && $ctrl.gameData.gameState === 'REVEALED'">
                            Doodo!
                        </p>
                        <p ng-show="$index === $ctrl.gameData.lastLoserIndex && $ctrl.gameData.gameState === 'REVEALED'">
                            Lost!
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="text-center">
            <h4 ng-show="$ctrl.gameData.prompt">{{$ctrl.gameData.prompt}}</h4>
            <button ng-if="$ctrl.gameData.gameState === 'ROLL' && $ctrl.canRoll()"
                    ng-click="$ctrl.rollDice()">
                Roll Dice
            </button>
            <div ng-if="$ctrl.gameData.gameState === 'ROLLED' && $ctrl.isSelfTurn()">
                <h4 ng-show="$ctrl.gameData.lastRoundLength > 0">
                    Last bet: {{$ctrl.findLastBet().num}} of {{$ctrl.findLastBet().val}}'s
                </h4>
                <input id="betDiceNum" type="number" ng-model="$ctrl.num" ng-change="$ctrl.num = $ctrl.validateNum($ctrl.num)">
                of
                <input id="betDiceVal" type="number" ng-model="$ctrl.val" ng-change="$ctrl.val = $ctrl.validateVal($ctrl.val)">
                's
                <button ng-disabled="!$ctrl.validateBet($ctrl.num, $ctrl.val)"
                        ng-click="$ctrl.bet($ctrl.num, $ctrl.val)">
                    Make Bet
                </button>
                <span ng-show="$ctrl.gameData.lastRoundLength > 0"> or </span>
                <button ng-show="$ctrl.gameData.lastRoundLength > 0"
                        ng-click="$ctrl.dudo()">
                    Dudo
                </button>
            </div>
            <button ng-if="$ctrl.gameData.gameState === 'REVEALED' && $ctrl.isSelfTurn()"
                    ng-click="$ctrl.endRound()">
                {{$ctrl.checkForWinnerPlayer() ? 'Final Scores' : 'Next Round'}}
            </button>
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-if="$ctrl.isHost && $ctrl.gameData.gameState === 'END'"
                ng-click="$ctrl.finishGame()">
            Exit Game
        </button>
        <!-- DEBUG ONLY! -->
        <button ng-if="$ctrl.playerService.player.name.startsWith('Mike ')"
                ng-click="$ctrl.debugRestGame()">
            !RESET!
        </button>
        <button ng-if="$ctrl.playerService.player.name.startsWith('Mike ')"
                ng-click="$ctrl.debugEndGame()">
            !End Game!
        </button>
    </div>
</div>