<span>
  <input id="betDiceVal" type="number"
         ng-model="$ctrl.value" ng-change="$ctrl.value = $ctrl.validateVal($ctrl.value)"
         min="{{$ctrl.min}}" max="{{$ctrl.max}}" ng-style="$ctrl.getStyle()">
    <button ng-disabled="$ctrl.value <= $ctrl.min"
            ng-click="$ctrl.dec()"
            style="width: 2em;">
        -
    </button>
    <button ng-disabled="$ctrl.value >= $ctrl.max"
            ng-click="$ctrl.enc()"
            style="width: 2em;">
        +
    </button>
</span>
