<div class="align-items-center">
    <div class="card offset-lg-3 col-lg-6">
        <div class="card-header text-center">
            <h1>GAME LOBBY</h1>
            (game id: {{$ctrl.lobby.id}})
        </div>
        <div class="card bg-warning text-white text-center" ng-show="$ctrl.busyMessage">{{$ctrl.busyMessage}}</div>
        <div class="card bg-danger text-white" ng-show="$ctrl.error">{{$ctrl.error}}</div>
        <div class="card-body container">
            <div class="info text-info text-center" ng-show="$ctrl.players">{{$ctrl.players.length}}
                player{{$ctrl.players.length !==1 ? 's' : ''}}
            </div>
            <div class="vertical-scroll">
                <p class="text-center" ng-show="!$ctrl.players || $ctrl.players.length === 0">--- No one here yet
                    ---</p>
                <ul>
                    <li ng-repeat="p in $ctrl.players">
                        <div class="row">
                            <div class="col-sm-8 text-nowrap">
                                <lobby-player index="$index" player="p" self="$ctrl.player"></lobby-player>
                            </div>
                            <div class="col-sm-3" ng-show="$ctrl.canDeletePlayer(p)">-
                                <button ng-click="$ctrl.deletePlayer(p)">X</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>