<div class="align-items-center">
    <div class="card offset-xl-3 col-xl-6">
        <h1 class="card-header text-center">HFG ARENA (beta)</h1>
        <div class="card bg-warning text-black text-center" ng-show="$ctrl.alertService.alert.isWarning()">{{$ctrl.alertService.alert.message}}</div>
        <div class="card bg-danger text-white" ng-show="$ctrl.alertService.alert.isError()">{{$ctrl.alertService.alert.message}}</div>
        <div class="card-body">
            <div class="card">
                <div class="row">
                    <label class="offset-2 col-4 text-right" for="player-name">Player name: </label>
                    <input class="col-4" id="player-name" type="text" placeholder="How do we call you?"
                           ng-model="$ctrl.player.name">
                </div>
                <div class="row">
                    <label class="offset-2 col-4 text-right" for="player-color">Favorite color:</label>
                    <input class="col-1" type="color" id="player-color" name="player-color"
                           ng-model="$ctrl.player.color">
                </div>
            </div>
            <div class="text-center">
                <button ng-click="$ctrl.newLobby()">Start New Game</button>
            </div>
            <div class="text-center" ng-show="$ctrl.lobbies && $ctrl.lobbies.length > 0">
                or join a game lobby:
            </div>
            <div class="vertical-scroll">
                <ul>
                    <li class="col-12" ng-repeat="l in $ctrl.lobbies">
                        <div class="row text-nowrap">
                            <div class="col-sm-8">
                                <home-lobby lobby=l></home-lobby>
                            </div>
                            <div class="col-sm-4">-
                                <span ng-show="!l.state">...</span>
                                <button ng-show="l.state === 'LOBBY'" ng-click="$ctrl.joinLobby(l.id)">Join</button>
                                <span ng-show="l.state === 'GAME'">in game
                                    <button ng-click="$ctrl.joinLobby(l.id)">Spectate</button>
                                </span>
                                <span ng-show="l.state === 'FINISHED'">finished
                                    <!--<button ng-show="$ctrl.player.name === l.host" ng-click="$ctrl.deleteLobby(l.id)">X</button>-->
                                    <button ng-click="$ctrl.joinLobby(l.id)">View Score</button>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-footer text-center">
            <div ng-if="$ctrl.player.name.indexOf('Red Dragon') >=0" class="bg-warning">
                <h6>*** DEBUG CONSOLE ***</h6>
                <p>Player: "{{$ctrl.player.name}}", id: {{$ctrl.player.id}}</p>
                <button ng-click="$ctrl.debugDeleteAllLobbies()">
                    !DELETE ALL LOBBIES!
                </button>
            </div>
        </div>
    </div>
    <chat player="$ctrl.player" chat-name="general"></chat>
</div>
