<div class="card offset-lg-3 col-lg-6">
    <div class="card-header text-center">
        <h1>GAME LOBBY</h1>
        (game id: {{$ctrl.game.id}})
    </div>
    <div class="card bg-warning text-white text-center" ng-show="$ctrl.game.alertService.alert.isWarning()">
        {{$ctrl.game.alertService.alert.message}}
    </div>
    <div class="card bg-danger text-white" ng-show="$ctrl.game.alertService.alert.isError()">
        {{$ctrl.game.alertService.alert.message}}
    </div>
    <div class="card-body">
        <div class="info text-info text-center" ng-show="$ctrl.game.playerService.players">
            {{$ctrl.game.playerService.players.length}}
            player{{$ctrl.game.players.length !==1 ? 's' : ''}}
        </div>
        <div class="vertical-scroll">
            <p class="text-center" ng-show="!$ctrl.game.playerService.players || $ctrl.game.playerService.players.length === 0">
                --- No one here yet
                ---</p>
            <ul>
                <li class="col-12" ng-repeat="p in $ctrl.game.playerService.players">
                    <div class="row">
                        <div class="col-sm-8 text-nowrap">
                            <lobby-player index="$index" player="p" self="$ctrl.game.playerService.player"></lobby-player>
                        </div>
                        <div class="col-sm-4" ng-show="$ctrl.game.playerService.canEditPlayer(p)">-
                            <button ng-click="$ctrl.game.playerService.removePlayers(p)">Kick!</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <button ng-if="$ctrl.game.playerService.player.isHost && $ctrl.game.state === 'LOBBY'"
                ng-click="$ctrl.leaveGame()">Leave Lobby
        </button>
        <button ng-if="$ctrl.game.playerService.player.isHost && $ctrl.game.state === 'LOBBY'"
                ng-click="$ctrl.startGame()">Start Game
        </button>
    </div>
</div>