<div style="vertical-align: middle;">
    <strong ng-if="!$ctrl.isSpectator()"
            ng-class="$ctrl.isMuted() ? 'del' : ''"
            style="color: {{$ctrl.player.color}}">
        {{$ctrl.player.name}}
    </strong>
    <span ng-if="$ctrl.isSpectator()" class="text-muted">{{$ctrl.player.name}}</span>
    <strong ng-if="$ctrl.isBot()"> (BOT)</strong>
    <small ng-if="$ctrl.isHost()"> (host)</small>
    <small ng-if="$ctrl.isSpectator()"> (spectator)</small>
    <small ng-if="$ctrl.isMuted()"> (OUT)</small>
</div>
