<div class="card offset-xl-3 col-xl-6">
    <div class="card-header text-center">
        <h1><i class="fas fa-users"></i> GAME LOBBY</h1>
        (game id: {{$ctrl.game.id}})
    </div>
    <div class="card-body">
        <div class="info text-info text-center" ng-show="$ctrl.game.playerService.players">
            {{$ctrl.game.playerService.players.length}}
            player{{$ctrl.game.players.length !==1 ? 's' : ''}}
        </div>
        <div class="vertical-scroll">
            <p class="text-center" ng-show="!$ctrl.game.playerService.players || $ctrl.game.playerService.players.length === 0">
                --- No one here yet
                ---</p>
            <ul>
                <li class="col-12" ng-repeat="p in $ctrl.game.playerService.players" ng-class="p.id === $ctrl.game.playerService.player.id ? 'list-item list-group-item-info' : 'list-item'">
                    <div class="row">
                        <div class="col-sm-8 text-nowrap">
                            <lobby-player index="$index" player="p" self="$ctrl.game.playerService.player"></lobby-player>
                        </div>
                        <div class="col-sm-4 text-nowrap" ng-show="$ctrl.game.playerService.player.isHost">-
                            <button ng-click="$ctrl.removePlayer(p)"><i class="fas fa-user-slash"></i></button>
                            <button ng-click="$ctrl.moveUpPlayers(p)"><i class="fas fa-chevron-up"></i></button>
                            <button ng-click="$ctrl.moveDownPlayers(p)"><i class="fas fa-chevron-down"></i></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="text-right" ng-if="$ctrl.game.state === 'LOBBY'">
            <button ng-if="$ctrl.game.playerService.player.isHost" ng-click="$ctrl.addBotPlayer()">
                Add <i class="fas fa-robot"></i>
            </button>
        </div>
    </div>
    <div class="card-footer text-center" ng-if="$ctrl.game.state === 'LOBBY'">
        <button ng-click="$ctrl.leaveGame()">
            <i class="fas fa-user-slash"></i> Leave Lobby
        </button>
        <button ng-if="$ctrl.game.playerService.player.isHost" ng-click="$ctrl.startGame()">
            <i class="fas fa-play-circle"></i> Start Game
        </button>
    </div>
</div>