<div class="card offset-xl-3 col-xl-6">
    <div class="card-header text-center">
        <h1><i class="fas fa-clipboard-list"></i> {{$ctrl.game.gameName | uppercase}} GAME OVER</h1>
        (Game id: {{$ctrl.game.id}})
    </div>
    <div class="card-body container text-center">
        <div ng-if="$ctrl.game.state === 'FINISHED'">
            <small ng-show="$ctrl.playedAt">Finished on {{$ctrl.playedAt | date:'medium'}}</small>
            <h2>Winner is
                <lobby-player player="$ctrl.gameData.winner"></lobby-player>
                with {{$ctrl.gameData.winnerDiceLeft}} dice left.
            </h2>
            <h3>GG. <i style="color: #FFD700" class="fas fa-trophy glow-black"></i></h3>
        </div>
    </div>
    <div class="text-center">
        <button ng-if="$ctrl.game.state === 'FINISHED'"
                ng-click="$ctrl.game.goHome()">
            <i class="fas fa-house-user"></i> Go Home
        </button>
        <button ng-if="$ctrl.game.state === 'FINISHED'"
                ng-click="$ctrl.newLobby()">
            <i class="fas fa-play-circle"></i> Play Again
        </button>
    </div>
</div>