@import "./lobby/lobby-component.css";
@import "./board/game-board-component.css";
@import "./score/game-score-component.css";

.row div {
    margin-left: 0px;
    margin-right: 0px;
}

.row p {
    margin-top: 0px;
    margin-bottom: 0px;
}