<div class="align-items-center">
    <div class="card offset-xl-3 col-xl-6" ng-show="$ctrl.alertService.alert.isMessage()">
        <div class="card bg-warning text-black text-center" ng-show="$ctrl.alertService.alert.isWarning()">
            {{$ctrl.alertService.alert.message}}
        </div>
        <div class="card bg-danger text-white" ng-show="$ctrl.alertService.alert.isError()">
            {{$ctrl.alertService.alert.message}}
        </div>
    </div>
    <lobby ng-if="$ctrl.state === 'LOBBY'"></lobby>
    <board ng-if="$ctrl.state === 'GAME'"></board>
    <score ng-if="$ctrl.state === 'FINISHED'"></score>
    <chat player="$ctrl.playerService.player" chat-name="game"></chat>
</div>